.reviewer-info {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.left-side-header {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.review-header {
    display: flex;
    align-items: center;
}

.review-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.vote-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0.5rem .75rem;
}

.upvote-downvote-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.review-date {
    font-size: 0.75rem;
    color: #666;
    margin-right: 1rem;
}

.tag-row {
    display: flex;
    align-items: center;
}

.report-button {
    background-color: var(--negative-bg);
    color: var(--negative-text);
    border: 1px solid var(--negative-text);
    padding: 0.3rem 0.6rem;
    border-radius: 4px;
}